body
{
  background-color: #000;
  color: #FFF;
  font-family: 'Nanum Brush Script', cursive;
}
p
{
  font-family: 'Nanum Brush Script', cursive;
}
h1
{
  font-family: 'Nanum Brush Script', cursive;
  text-align: center;
}
h2
{
  font-family: 'Nanum Brush Script', cursive;
  text-align: center;
}
title
{
  text-align: center;
}
.logopicture
{
  height:30px;
  width:30px;
}
.welcome
{
  text-align: center;
}
.menu
{
  text-align: center;
}
.contact
{
  text-align: center;
}
