body
{
  background-color: #000;
  color: #FFF;
  font-family: 'Nanum Brush Script', cursive;
}
.top
{
  background-color:#696969;
  height: 50px;
}
p
{
  font-family: 'Nanum Brush Script', cursive;
}
h1
{
  font-family: 'Nanum Brush Script', cursive;
  text-align: center;
}
h2
{
  font-family: 'Nanum Brush Script', cursive;
  text-align: center;
}
title
{
  text-align: center;
}
.logopicture
{
  height:30px;
  width:30px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
}
#about
{
  text-align: center;
}
#menu
{
  text-align: center;
}
#contact
{
  text-align: center;
}
